
{% extends "common_layout.html" %}
{% block content %}


<div class="top_box c_grid product_box">
			
	<div class="c_grid box2">
		
		<!-- <div class="padding white_t">
			<h1 class="let_space"> Let's Start Learning</h1>
			
			<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate iure officiis quia possimus quaerat commodi reprehenderit labore? Non, facere aut doloribus a dolores molestiae est, suscipit doloremque rerum, hic inventore dignissimos nostrum! Voluptates alias corrupti nobis eveniet ipsum omnis error officia dolores, magni est quas exercitationem sed sunt totam ducimus nisi dolorum facere fugiat earum in ratione deserunt. </p>
		</div> -->
		
	</div>
	
</div>


<div class="grid padding">

	<h2 class="let_space tb_margin">{{prediction}}</h2>
	<br>
	<br>

	<div class="c_grid box4">

		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/1.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Esprit {{prediction}}</a></p>
			<p>$16.64</p>
		</div>	

		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/2.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Converse All Star Hi Plimsolls</a></p>
			<p>$26.41</p>
		</div>	


		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/3.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Herschel {{prediction}}</a></p>
			<p>$96.47</p>
		</div>	


		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/4.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Nike Black Classic</a></p>
			<p>$26.61</p>
		</div>	


		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/5.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Classic Trench {{prediction}}</a></p>
			<p>$56.40</p>
		</div>	


		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/6.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Herschel supply {{prediction}}</a></p>
			<p>$29.66</p>
		</div>	


		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/7.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Nike Jordan</a></p>
			<p>$87.35</p>
		</div>	


		<div class="prod">
			<div class="product">
				<a href="">
					<img src="/static/image/{{prediction}}/8.jpg" alt="image"/>
				</a>
			</div>

			<p class="gray_t"><a href="">Esprit Ruffle {{prediction}}</a></p>
			<p>$35.43</p>
		</div>	

	</div>

</div>



{% endblock content %}